body{
	padding: 0;
	margin: 0;
	background-color: #f3f3f3;
}

/* Bar navigation début */

nav{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 90px;
      padding: 0px 100px 0px 0px;
      box-sizing: border-box;
      transition: 0.3s;
      z-index: 1;
      background: rgba(51,141,165,0.8);
}
nav.black{

      height: 60px;
      padding: 0px 100px 0px 0px;
      box-shadow: 0px 6px 10px -5px #666;
}

nav .logo{
      float: left;
      width: 90px;
      height: 90px;
      transition: 0.3s;
      
}

nav .black-logo{
      float: left;
      width: 60px;
      height: 60px;
      transition: 0.3s;
      
}

nav .black-logo:hover{
      filter: hue-rotate(150deg);
}

nav .logo:hover{
      filter: hue-rotate(150deg);
}

nav ul{
      list-style: none;
      float: left;
      margin: 0;
      padding: 0;
      display: flex;
}
nav ul li {
      list-style:none;
}

nav ul li a {
      line-height: 90px;
      color: #fff;
      padding: 15px 30px;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s;
      font-size: 1em;
      font-family: 'Arial', sans-serif;
}

nav ul li a.black-button{
	line-height: 60px;
	font-size: 0.85em;
}

nav.black ul li a:hover{
	color: black;
	transition: 0.3s;
}

nav ul li a:hover{
	color: black;
	transition: 0.3s;
}

nav.black ul li a {
      color: #fff;
}
nav ul li a:focus{
      outline: none;
}
nav ul li a.active{
      background: #fff;
      color: #3390a5;
      border-radius: 5px;
      margin-left: 45px;
      padding: 13px 40px 13px 40px;
}

nav ul li a.active-black{
	padding: 9px 30px 9px 30px;
}

nav ul li a.active:hover{
	color: #fff;
	background: #d26581;
	transition: 0.3s;
}

/* Bar navigation fin */

#background-test-1{
	width: 100%;
	height: 640px;
	background-image: url(../img/computer.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#background-test-2{
	width: 100%;
	height: 550px;
	background-image: url(../img/image-21.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
}

#background-test-3{
	width: 100%;
	height: 550px;
	background-image: url(../img/image-22.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
}

div.apport-liste{
	width: 100%;
	height: 448px;
	background-color: #f4f4f4;
	display: flex;
	z-index: 1;
}

div.contenu{
	border-radius: 120px;
	height: 120px;
	width: 120px;
	background-color: #ffffff;
	margin: 0 auto;
	border: 2px solid #3390a5; 
}

div.contenu-conteneur{
	width: 33.3%;
	margin-top: 60px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: white;
	padding-top: 50px;
	border: 1px solid #ebebeb;
}


img.icon-promesse{
	height: 70px;
	width: 70px;
	margin-top: 25px;
	margin-left: 25px;
}

h3.titre-promesse{
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	text-align: center;
}

p.paragraphe-promesse{
	text-align: center;
	font-size: 1.4em;
	font-family: 'Montserrat', sans-serif;
	color: #8E8C8C;
	padding: 10px;
}

.en-savoir-plus-apports-conteneur{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.en-savoir-plus-apports-lien{
	
	font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
	padding: 15px 50px 15px 50px;
	border-radius: 5px;
	border: 2px solid #3390a5;
	background-color: white;
	transition: 0.2s ease;
	text-decoration: none;
	color: #3390a5;
	font-weight: bold;
	transition: 0.2s ease;
}

.en-savoir-plus-apports-lien:hover{
	border: 2px solid red;
	color: red;
	transition: 0.2s ease;
}

.conteneur-phrase-présentation-matériel{
	margin-left: 50%;
	margin-top: 20px;
}

.conteneur-phrase-présentation-matériel-3{
	margin-right: 50%;
	padding-top: 100px;
}

.conteneur-phrase-présentation-matériel-2{
	margin-right: 50%;
	margin-top: 20px;
}

.phrase-présentation-matériel{
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 2.6em;
	padding-left: 60px;
	padding-top: 30px;
	margin: 0 0 0.5em 0;
}

.sous-titre{
	width: 400px;
	border-top: 6px solid #3390a5;
	margin-left: 60px;
}

.paragraphe-présentation-matériel{
	padding-left: 60px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2;
	font-size: 1.4em;
	text-align: justify;
	padding-right: 70px;
	padding-top: 20px;
}

.paragraphe-présentation-matériel-deux{
	padding-left: 60px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2;
	font-size: 1.4em;
	text-align: justify;
	padding-right: 70px;
	padding-top: 10px;
	padding-bottom: 40px;
}


.conteneur-derniers-articles{
	width: 350px;
	height: 480px;
	margin: 40px 60px 40px 40px;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #dedddd;
}

.zone-derniers-articles{
	height: 120px;
	width: 100%;
	border-bottom: 1px solid #dedddd;
	display: flex;
}

.conteneur-titre-date-derniers-articles{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.photo-derniers-articles{
	height: 60px;
	width: 60px;
	margin: auto;
	margin-left: 0;
	margin-right: 0;
}

.titre-derniers-articles{
	font-family: 'Raleway', sans-serif;
	font-size: 0.65em;
	letter-spacing: 0.25em;
	line-height: 1.65;
	margin: 30px 0 6px 0;
	text-transform: uppercase;
}

.lien-titre-derniers-articles{
	text-decoration: none;
	color: black;
}

.date-derniers-articles{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	word-spacing: 4px;
	font-size: 0.8em;
	color: #3390a5;
}

.en-savoir-plus-matériel-lien{
	
	font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
	padding: 15px 50px 15px 50px;
	border-radius: 5px;
	border: 2px solid #3390a5;
	transition: 0.2s ease;
	text-decoration: none;
	color: #3390a5;
	font-weight: bold;
	transition: 0.2s ease;
	margin-left: 60px;
}

.en-savoir-plus-matériel-lien:hover{
	border: 2px solid red;
	color: red;
	transition: 0.2s ease;
}

.conteneur-derniers-articles-zone-dessus-zone-coté{
	display: flex;
}

.zone-coté{
	height: 480px;
	margin: 40px 40px 0px 0px;
	width: 990px;
	background-color: #ffffff;
	border: 1px solid #dedddd;
	overflow: hidden;

}

.paragraphe-slide{
	font-size: 100px;
	text-align: center;
	position: absolute;
	width: 20%;
	padding-top: 40px; 
	color: white;
	font-family: Arial;


}

.zone-coté figure.figure-slide div.slide{
	width: 20%;
	float: left;
}

.zone-coté figure.figure-slide img.image-slide{
	width: 100%;
	float: left;
}

.zone-coté figure.figure-slide{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 40s slidy infinite;
}

@keyframes slidy{
	0%{
		left: 0%;
	}

	10%{
		left: 0%;
	}

	12%{
		left: -100%;
	}

	22%{
		left: -100%;
	}

	24%{
		left: -200%;
	}

	34%{
		left: -200%;
	}

	36%{
		left: -300%;
	}

	46%{
		left: -300%;
	}

	48%{
		left: -400%;
	}

	58%{
		left: -400%;
	}

	60%{
		left: -300%;
	}

	70%{
		left: -300%;
	}

	72%{
		left: -200%;
	}

	82%{
		left: -200%;
	}

	84%{
		left: -100%;
	}

	94%{
		left: -100%;
	}

	96%{
		left: 0%;
	}



}

form.form-formulaire-contact{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 40px 379.8px 40px 379.8px;
}

input.input-formulaire-contact-2{
	margin-bottom: 3%;
	border: 1px #ebebeb solid;
	padding: 10px;
	width: 48.5%;
}

input.input-formulaire-contact-3{
	margin: 0 3% 3% 0;
	border: 1px #ebebeb solid;
	padding: 10px;
	width: 48.5%;

}

input.input-formulaire-contact{
	margin-bottom: 3%;
	border: 1px #ebebeb solid;
	padding: 10px;
}

div.conteneur-email-nom{
	display: flex;
}

textarea.textarea-formulaire-contact{
	margin-bottom: 3%;
	height: 130px;
	border: 1px #ebebeb solid;
	font-family: Arial;
	padding: 8px;
	resize : none;
}

button.button-formulaire-contact{
	font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
	padding: 15px 50px 15px 50px;
	border-radius: 5px;
	border: 2px solid #3390a5;
	background-color: white;
	transition: 0.2s ease;
	text-decoration: none;
	color: #3390a5;
	font-weight: bold;
	transition: 0.2s ease;
	margin: 0px 250px 0px 250px;
	cursor: pointer;
}

.titre-formulaire-contact{
	text-align: center;
	margin: 0 0 40px 0;
	font-family: 'Raleway', sans-serif;
	color: #3390a5;

}



button.button-formulaire-contact:hover{
	color: red;
	transition: 0.3s ease;
	border: 2px solid red;
}

/* homepage début */



/* homepage fin */


/* Log in début */

input.log{
	width: 48px;
	height: 48px;
	position: absolute;
	left: 96%;
	margin: 0;
	top: 22px;
	transition: 0.3s;
}

input.log-black{
	top: 12px;
	transition: 0.3s;
	width: 36px;
	height: 36px;
	left: 97%;
}

input.log:hover{
	transform: scale(1.2);
	transition: 0.3s;
}

/* Log in fin */

/* footer début */

div.footer{

	width: 100%;
	background: #3390a5;

}

div.conteneur-contenu-footer-haut{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid white;

}

div.conteneur-info-footer{
	margin-right: 60px;
	margin-left: 60px;
	padding: 20px;
	
}

h1.titre-section-footer{
	font-family: Arial;
	font-size: 1.2em;
	margin-bottom: 25px;
}


ul.liste-puce-footer{
	margin: 0;
    padding: 0;
    list-style: none;
}

li.bouton-footer{
	font-family: Arial;
	font-size: 0.9em;
	color: #393a3a;
	padding-bottom: 6px;
	text-transform: lowercase;
}

a.lien-titre-footer{
	text-decoration: none;
	color: white;
	transition: 0.2s ease;
}

a.lien-titre-footer:hover{
	color: black;
	transition: 0.2s ease;
}
img.image-réseaux-footer{
	height: 40px;
	width: 40px;
	padding-right: 15px;
	transition: 0.3s ease;
}

img.image-réseaux-footer:hover{
	transition: 0.3s ease;
	transform: scale(1.1);

}

p.texte-copyright{
	text-align: center;
	font-size: 1.2em;
	font-family: Arial;
	color: white;
	margin: 0;
	padding: 30px;
}

div.conteneur-contenu-footer-bas{
	display: flex;
	width: 100%;
	justify-content: center;
}

form.barre-recherche-conteneur{
	display: flex;
	margin-left: 200px;
	transition: 0.3s;
}

form.barre-recherche-conteneur-2{
	display: flex;
	margin-left: 100px;
	transition: 0.3s;
}

form.barre-recherche-conteneur-2-black{
	display: flex;
	margin-left: 270px;
}

img.image-barre-recherche{
	width: 20px;
	height: 20px;
	transition: 0.3s;
}

img.image-barre-recherche-black{
	width: 15px;
	height: 15px;
	transition: 0.3s;
}

button#search-button{
	margin-top: 22px;
	width: 42px;
	height: 42px;
	border: none;
	background-color: #ffffff; 
	border-radius: 0px 21px 21px 0px;
	cursor: pointer;
	padding-right: 48px;

}

button#search-button-animation{
	margin-top: 22px;
	width: 42px;
	height: 42px;
	border: none;
	background-color: #ffffff; 
	border-radius: 0px 21px 21px 0px;
	cursor: pointer;
	padding-right: 48px;
	display: none;


}

input#champ-recherche{
	margin-top: 22px;
	height: 40px;
	width: 300px;
	border-radius: 20px 0px 0px 20px;
	border: none;
	padding-left: 20px;

}

input.champ-recherche-2{
	margin-top: 24px;
	height: 40px;
	width: 300px;
	border-radius: 5px 0px 0px 5px;
	border: none;
	padding-left: 20px;
	transition: 0.3s;
	color: black;
	font-family: 'Montserrat', sans-serif;

}

input.champ-recherche-2-black{
	margin-top: 13px;
	height: 30px;
	width: 250px;
	border-radius: 5px 0px 0px 5px;
	border: none;
	padding-left: 20px;
	transition: 0.3s;

}

button.search-button-2{
	margin-top: 24px;
	width: 42px;
	height: 42px;
	border: none;
	background-color: #ffffff; 
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	padding-right: 20px;
	transition: 0.3s;
}

button.search-button-2-black{
	margin-top: 13px;
	width: 32px;
	height: 32px;
	border: none;
	background-color: #ffffff; 
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	padding-right: 26px;
	transition: 0.3s;

}

/* footer fin */


/* WIDGET6GROWTHACK */

a.lien-product{
	color: red;
}


/* Pop-up Connexion début */


#modal{
	width: 60%;
	margin-left: 20%;
	background-color: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, .2);
	position: fixed;
	top: -600px;
	transition: 0.8s ease;
	height: 520px;
	z-index: 1;
}

div.conteneur-création-connexion{
	display: flex;
}

form.form-création,form.form-connexion{
	display: flex;
	flex-direction: column;
}

div.création-compte, div.connexion-compte{
	height: 350px;
	width: 50%;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-top: 10px;
	margin-top: 20px;
}



div.création-compte{
	border-left: 3px #3390a5 solid; 
}

h1.phrase-formulaire{
	font-size: 1.6em;
	font-family: Arial;
}

input.input-création, input.input-connexion{
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: 1px #3390a5 solid;
}

button.button-création, button.button-connexion{
	border: none;
	background-color: #3390a5;
	color: #fff;
	width: 120px;
	padding: 10px;
	font-size: 1.5em;
	margin: auto;
	border-radius: 10px;
	transition: 0.3s ease;
}



button.button-connexion:hover{
	background-color: #0de03a;
	transition: 0.3s ease;
}

button.button-création:hover{
	background-color: #0de03a;
	transition: 0.3s ease;
}

button.btnClose{
	border: none;
	background-color: #fff;
	color: #3390a5;
	font-size: 2em;
	transition: 0.3s ease;
	width: 5%
}

button.btnClose:hover{
	color: red;
	transition: 0.3s ease;

}

/* Pop-up Connexion fin */

/* techniques début */

.design-tag{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: #3390a5;
	padding-right: 20px;
}

.design-tag:hover{
	color: #256a79;
}

.design-tag-2{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: #d26581;
	padding-right: 20px;
}

.design-nombre-page, .design-nombre-page-2{
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	color: #3390a5;
	text-decoration: none;
	transition: 0.2s ease;
}

.design-nombre-page{
	margin: 0px 644.583px 55px 644.583px;
}

.design-nombre-page-2{
	margin: 0px 590px 55px 644.583px;
}

.design-nombre-page:hover{
	text-decoration: underline;
	transition: 0.2s ease;
	color: #d26581;
	transform: scale(1.1);
}

.design-nombre-page-2:hover{
	text-decoration: underline;
	transition: 0.2s ease;
	color: #d26581;
	transform: scale(1.1);
}


.conteneur-design-tag{
	margin-left: 6%; 
	margin-bottom: 40px;
}

.date-aperçu-article{
	margin: 0;
	padding-left: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #3390a5;
	font-size: 1em;
}

.image-article-entier{
	padding: 2% 5% 2% 5%;
	height: 90%;
	width: 90%;

}

div.photo-article-zone-conteneur{
	display: flex;
}

div.zone-article{
    background-color: #ffffff;
    width: 70%;
    margin-bottom: 40px;
    border: 1px solid #ebebeb;
    margin-left: 1%;
    margin-right: 5%; 
}

div.photo-article{
	height: 340px;
	width: 28%;
	background-color: #ffffff;
	border: 1px solid #ebebeb;
	margin-left: 6%;
}

div.article-conteneur{
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	width: 100%;

}

a.lien-article{
	background-color: #3390a5;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    float: right;
    margin-right: 35px;
    transition: 0.3s ease;
    margin-bottom: 20px;
    
}

a.lien-article:hover{
	background-color: #0de03a;
	transition: 0.3s ease;
}

p.texte-article{
	padding-left: 30px;
	padding-right: 30px;
	font-family: Arial;
	line-height: 1.5em;
	color: #404040;
}

h1.titre-article{
	font-family: Arial;
	padding: 10px 0px 10px 30px; 
	font-size: 2em;
	margin-bottom: 0;
}

div#volet{
	position: fixed;
	height: 100px;
	width: 100px;
	background-color: red;
	left: -90px;
}

/* techniques fin */

/* livres début */

div.liste-présentation-affiliation-livre-conteneur{
	margin-top: 195px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

div.présentation-livre-affiliation{

    width: 80%;
    height: 370px;
    margin-bottom: 40px;
    margin-left: 10%;
    display: flex;
}

div.photo-livre-et-auteur{
	width: 25%;
	height: 370px;
	background-color: black;
	background-image: url(../img/fond-test.jpg);
	background-size: contain;
	box-shadow:0 3px 3px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

div.lien-affiliation-amazon{
	width: 20%;
	margin-left: 2%;
	height: 370px;
	background-color: #ffffff;
	box-shadow:0 3px 3px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

div.titre-livre-auteur-description-conteneur{
	display: flex;
	flex-direction: column;
	width: 53%;
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    margin-left: 1%;
}

div.titre-livre-conteneur{
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	padding-left: 10px;
}

div.nom-auteur-conteneur{
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	padding-left: 10px;
	border-top: 3px solid #3390a5;
	border-bottom: 3px solid #3390a5;
}

div.description-livre-aperçu-conteneur{
	width: 100%;
	height: 270px;
	background-color: #ffffff;
	padding-left: 10px;
}

h2.titre-livre{
	line-height: 10px;
	font-family: Arial;
	text-align: center;
}

h3.nom-auteur, a.lien-nom-auteur{
	line-height: 10px;
	font-family: Arial;
}

h3.titre-paragraphe-description-livre, p.paragraphe-description-livre{
	font-family: Arial;
}

p.paragraphe-description-livre{
	color: #404040;
	padding-right: 10px;
}

/* livres fin */

/* PAGE ENTIERE techniques début  */

div.article-complet-conteneur{
	background-color: #ffffff;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    margin-top: 195px;
}


p.paragraphe-article-complet{
	padding-left: 5%;
	padding-right: 5%;
	font-family: Arial;
	line-height: 1.5em;
	color: #404040;
	text-align: justify;
}

/* PAGE ENTIERE techniques fin  */

/* PAGE ENTIERE livre début */

div.page-entière-livre-conteneur{
	margin-top: 165px;
}

div.page-entière-auteur-description-conseils-conteneur{
	display: flex;
}

div.Titre-page-entière-livre{
	width: 100%;
	height: 100px;
}

div.biographie-auteur-conteneur{
	width: 25%;
	margin-bottom: 20px;
	margin-top: 20px;
	border-right: #3390a5 3px solid;
}

div.description-conseils-page-entière-conteneur{
	width: 100%;
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: 20px;

}

div.description-page-entière{
	width: 100%;
	background-color: #ffffff;
	margin-bottom: 20px;
	box-shadow:0 3px 3px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}


div.conseils-page-entière{
	width: 100%;
	background-color: #ffffff;
	box-shadow:0 3px 3px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

h1.titre-page-entière-livre{
	text-align: center;
	font-family: Arial;
	font-size: 3em;
}

h4.titre-page-entière-h3{
	font-family: Arial;
	font-size: 1.6em;
	margin-left: 5%;

}

h4.titre-page-entière-auteur-h3{
	font-family: Arial;
	font-size: 1.6em;

}

p.paragraphe-description-conseils-page-entière{
	padding: 20px;
	font-family: Arial;
	color: #404040;
	line-height: 1.5em;
}

img.photo-auteur-page-entière{
	height: 250px;
	width: 250px;
	margin: 60px;
	border-radius: 300px; 
}

/* PAGE ENTIERE livre fin */

/* module de commentaire début */



textarea.textarea-formulaire-comment{
	width: 70%;
    margin: 0 auto;
    height: 150px;
    border: 1px solid #ebebeb;
    font-family: Arial;
    margin-top: 20px;
    resize : none;
    padding: 10px;
    
}

form.form-formulaire-comment{
	display: flex;
	flex-direction: column;

}

button.button-formulaire-comment{
	margin-bottom: 150px;
	margin-top: 10px;
	width: 10%;
    margin-left: 45%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #3390a5;
    font-size: 1.4em;
    font-family: Arial;
    transition: 0.3s ease;
}

button.button-formulaire-comment:hover{
	background-color: #0de03a;
	transition: 0.3s ease;
}

button.input-commentaire{
	background-color: red;
	margin-left: 82%;
	border: none;
	width: 30px;
	height: 20px;
	color: white;
	background-color: #3390a5;
	border-radius: 0px 0px 5px 5px;
	transition: 0.3s ease;
}

button.input-commentaire:hover{
	background-color: red;
	transition: 0.3s ease;
}

p.pseudo-date{
	font-family: Arial;
	color: #3390a5;
	margin-left: 2%;
	font-size: 1.4em;
	font-weight: bold;
}

p.p-commentaire{
	margin-left: 4%;
	line-height: 1.5em;
	color: #404040;
	font-family: Arial;
	margin-right: 3%;
}

div.div-commentaire{
	width: 70%;
	margin: 0 auto;
	background-color: white;
	border: 1px solid #e2dede;
	margin-top: 20px;
	padding: 10px;
}

p.message-commentaire-connexion{
	font-family: Arial;
	text-align: center;
	color: red;
}

button.bouton-like, button.bouton-dislike{
	background-color: #ffffff;
	border: none;
	transition: 0.2s ease;
	cursor: pointer;
	margin-left: 60px;
	margin-top: 20px;
}

button.bouton-like:hover{
	transform: scale(1.3);
	transition: 0.2s ease;
	filter: hue-rotate(150deg);
}

img.icon-conversation, img.icon-like, img.icon-dislike{
	height: 30px;
	width: 30px;
	transition: 0.2s ease;
}

img.icon-dislike{
	height: 40px;
	width: 40px;
}

img.icon-conversation:hover{
	transform: scale(1.3);
	transition: 0.2s ease;
	filter: hue-rotate(90deg);
}

img.icon-like:hover{
	transform: scale(1.3);
	transition: 0.2s ease;
	filter: hue-rotate(150deg);
}

div.conteneur-module-comment{
	display: flex;
}

a.lien-icon-conversation{
	margin-left: 35px;
}

p.nombre-commentaire-article, p.nombre-like-article{
	font-family: Arial;
	color: #3390a5;
	margin-left: 12px;
	margin-top: 0px;
	font-size: 30px;
	padding-right: 30px;
	font-weight: bold;
}

p.nombre-like-article-entier{
	font-family: Arial;
	color: #3390a5;
	margin-left: 12px;
	margin-top: 20px;
	font-size: 30px;
	padding-right: 30px;
	font-weight: bold;

}

/* module de commentaire fin */


/* fleche retour début */

img.fleche-retour-haut-image{
	width: 60px;
	height: 60px;
	position: fixed;
	left: 94%;
	top: 87%;
	display: none;
	cursor: pointer;
	z-index: 1;
}

/* fleche retour fin */























